.links-list {
  height: 150px;
  background-color: #111;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 18px;
}

.links-list li {
  opacity: 0.9;
  width: 100%;
}

.links-list li:hover {
  opacity: 1;
  cursor: pointer;
  transition: 0.4s;
}

.links-list a {
  text-decoration: none;
  color: white;
}

.links-img-wrapper {
  /* display: inline; */
}

.links-img-wrapper img {
  background-color: white;
  border-radius: 50%;
}
