.portfolio-container {
  /* font-family: Roboto;
  text-align: center;
  background-color: white;
  margin: 0 0em 10em ;
  padding: 1em;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0px 5px 0px 0px #000000;
  box-shadow: 0px 5px 15px 0px #000000; */
}

.portfolio-container h3 {
  font-size: 30px;
  font-weight: lighter;
  /* margin-top: 1.5em; */
  padding: 2em;
}

.project-container {
  padding: 0 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  flex: 1 1 0;
  min-width: 10em;
  margin: 1em 1em 1em 1em;
  padding: 10px;
  text-align: center;
  border: 3px solid lightblue;
  border-radius: 1em;
  color: #111;
  /* #003366 #001ED4;*/
  overflow: scroll;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.project img {
  max-width: 100%;
  max-height: 300px;
  border: 1px solid #111;
  border-radius: 10px;
  /* 002BD0 */
}

.project a, .project a:visited {
  text-decoration: none;
  color: #111;
}
