.about-wrapper {
  padding: 5em;
  text-align: center;
  height: 70vh ;
  color: #111;
  font-family: Roboto;
}

.about-wrapper h1 {
  font-size: 26px;
  font-weight: 100;
  color: #111;
  padding: .75em 0 1.5em 0;
}

.about-wrapper span {
  color: #789cde;
}
