.about-wrapper {
  padding: 5em;
  text-align: center;
  height: 80vh;
  color: #111;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
}

.about-wrapper h1 {
  font-size: 26px;
  font-weight: 100;
  color: #111;
  padding: .75em 0 1.5em 0;
}

.about-wrapper span {
  color: #789cde;
}

.arrow-down {
  margin: 0 auto;
  text-align: center;
}

.arrow-down::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  border-radius: 2px;
  transform: rotate(45deg);
  opacity: .3;
}
