.portfolio-button {
  display: inline-block;
  height: 50px;
  width: 47.7%;
  margin: 0.5rem 0.25rem;
  background-color: #111;
  border: 2px solid #111;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.portfolio-button:hover {
  background-color: #fff;
  color: #000;
  transition: 0.2s;
}
