@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
  background: url("https://images.unsplash.com/photo-1495667789375-0ea23c94f110?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=4928&q=80");
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}
