.sidebar {
  display: inline-block;
  margin-right: 100px;
  background-color: #003366;
  border: 3px solid #111;
  color: lightgrey;
  height: 100vh;
  float: left;
  padding: 40px 10px;
}

.sidebar span {
  display: block;
  padding: 4px;
  margin: 1px;
}

.sidebar span:hover {
  cursor: pointer;
  opacity: .5;
}
